binwalk
nitrogen
cef_user_data
configstore
dconf
Dharkael
discord
Electron
enchant
flameshot
freerdp
gconf
go
gtk-2.0
gtk-3.0
htop
inkscape
lutris
matplotlib
Mattermost
menus
mimeapps.list
nautilus
nvim-backup
nvim/plugged/*
pavucontrol.ini
pulse
QtProject.conf
remmina
sauron.toml
spotify
terminator
transmission
vlc
wireshark
yarn
